In [32]:
import pandas as pd
import sklearn
import joblib
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics
from sklearn.model_selection import train_test_split


mr = pd.read_csv("./sample/sample.csv", header=0, encoding='cp949') # 한글 구사
mr

   status  height  weight  color
0      먹어       7       2      1
1     먹지마       1       5      3
2     먹지마       5       1      4
3      먹어       1       1      7
4     먹지마       1       6      7
5     먹지마       6       2      1
6     먹지마       3       1      5
7     먹지마       1       4      9
8      먹어       2       1      1
9     먹지마       5       7      6
10    먹지마       1       1      1
11    먹지마       4       2      4
12    먹지마       4       1     10
13     먹어       3       8      3
14    먹지마       2       1      3
15    먹지마       2       1      3

In [33]:
label = []
data = []
for row_index,row in mr.iterrows():
    label.append(row.iloc[0])
    row_data = []
    for v in row.iloc[1:]:
        row_data.append(v)
    data.append(row_data)

label[0:5]

['먹어', '먹지마', '먹지마', '먹어', '먹지마']

In [34]:
data_train, data_test, label_train, label_test = train_test_split(data, label) #75/25

In [35]:
label_train

['먹지마',
 '먹지마',
 '먹지마',
 '먹지마',
 '먹지마',
 '먹지마',
 '먹지마',
 '먹지마',
 '먹어',
 '먹어',
 '먹지마',
 '먹지마']

In [36]:
label_test

['먹어', '먹어', '먹지마', '먹지마']

['model.pkl']